@{
    ViewData["Title"] = "Boot screen";
}

<div class="text-center">
    <h1 class="display-4">Amstrad CPC 464</h1>
    <p>
        <img style="max-width: 680px" src="~/img/800px-Amstrad_CPC464.jpg" /><br />
        <i style="font-size: smaller">source https://commons.wikimedia.org/wiki/File:Amstrad_CPC464.jpg</i>
    </p>
        <table style="border-width: 0px;" align="center">
            <tr><td class="text-right">Année de sortie : </td><td class="font-weight-bold text-left">1984</td></tr>
            <tr><td  class="text-right">Processeur : </td><td class="font-weight-bold text-left">Zilog Z80A</td></tr>
            <tr><td class="text-right">Vitesse : </td><td class="font-weight-bold text-left">4Mhz</td></tr>
            <tr><td class="text-right">RAM : </td><td class="font-weight-bold text-left">64Ko</td></tr>
            <tr><td class="text-right">Environnement : </td><td class="font-weight-bold text-left">Locomotive Basic 1.0</td></tr>
            <tr><td class="text-right">Système disque : </td><td class="font-weight-bold text-left">AMSDOS ou CP/M</td></tr>
        </table>
</div>
